In [18]:
# 1) Развернуть у себя на компьютере/виртуальной машине/хостинге MongoDB и реализовать функцию, записывающую собранные вакансии в созданную БД
# 2) Написать функцию, которая производит поиск и выводит на экран вакансии с заработной платой больше введенной суммы
# 3*)Написать функцию, которая будет добавлять в вашу базу данных только новые вакансии с сайта

In [26]:
from pymongo import MongoClient
import pandas as pd
import json
from pprint import pprint

In [3]:
client = MongoClient('localhost', 27017)
db = client['PSC_3']
jobs_db = db.jobs

In [11]:
df = pd.read_csv('job_search.csv')
df.head()

,firm_name,vacancy_name,salary_min,salary_max,city,metro_station,prereq_shrt,tasks_shrt,publish_date,vacancy_link,site
0,HeadHunter::Технический департамент,Big Data Engineer,250000.0,NaN,Москва,Алексеевская,Уверенные знания принципов работы баз данных и...,"Создание ETL-процессов, используя внутренние и...",23 сентября,https://hh.ru/vacancy/32182817?query=Data%20sc...,hh.ru
1,HeadHunter::Технический департамент,Lead devops engineer (Hadoop),300000.0,NaN,Москва,Алексеевская,Опыт работы с распределенными системами хранен...,Обеспечивать непрерывную и корректную работу к...,23 сентября,https://hh.ru/vacancy/33575266?query=Data%20sc...,hh.ru
2,ООО Содружество,Data scientist,NaN,200000.0,Москва,NaN,...задач различных отраслей экономики в целях ...,Взаимодействие с подрядчиками по проекту скори...,23 сентября,https://hh.ru/vacancy/33713623?query=Data%20sc...,hh.ru
3,ООО Простое решение,Data Scientist,120000.0,180000.0,Москва,Марьина Роща,Практический опыт анализа данных на R/Python. ...,Разработка моделей оценки эффективности сервис...,23 сентября,https://hh.ru/vacancy/33671339?query=Data%20sc...,hh.ru
4,Связной,Главный аналитик-математик (Data Analyst / Dat...,180000.0,230000.0,Москва,Автозаводская,Хорошее владение языком R (предпочтительно) ил...,Исследование данных методами математической ст...,23 сентября,https://hh.ru/vacancy/30250856?query=Data%20sc...,hh.ru

In [ ]:
# Inserts pandas dataframe to colletion
def df_to_db(df, db_collection):
    data = json.loads(df.T.to_json()).values()
    db_collection.insert_many(data)

df_to_db(df, jobs_db)

In [39]:
gt_amount = 200000
func = 'gt'

params = {'firm_name', 'vacancy_name', 'salary_min', 'salary_max', 'city',
       'metro_station', 'prereq_shrt', 'tasks_shrt', 'publish_date',
       'vacancy_link', 'site'}


def show_search_results(gt_amount, func, params):

    n = jobs_db.find({'salary_min':{f'${func}':var_amount}}, params)
    for item in n:
        pprint(item)

In [40]:
show_search_results(gt_amount, func, params)

{'_id': ObjectId('5d8a02ba2e73b8eefa63deb3'),
 'city': 'Москва ',
 'firm_name': ' HeadHunter::Технический департамент',
 'metro_station': 'Алексеевская',
 'prereq_shrt': 'Уверенные знания принципов работы баз данных и распределенных '
                'систем хранения и обработки данных. Опыт работы с '
                'распределенными системами хранения и...',
 'publish_date': '23 сентября',
 'salary_max': None,
 'salary_min': 250000.0,
 'site': 'hh.ru',
 'tasks_shrt': 'Создание ETL-процессов, используя внутренние и внешние '
               'источники данных. Разработка и поддержка инфраструктуры для '
               'хранения и обработки данных. ',
 'vacancy_link': 'https://hh.ru/vacancy/32182817?query=Data%20scientist',
 'vacancy_name': 'Big Data Engineer'}
{'_id': ObjectId('5d8a02ba2e73b8eefa63deb4'),
 'city': 'Москва ',
 'firm_name': ' HeadHunter::Технический департамент',
 'metro_station': 'Алексеевская',
 'prereq_shrt': 'Опыт работы с распределенными системами хранения и обработки '
                'данных сравнимого масштаба: Hadoop, Spark, Hive, Zeppelin. '
                'Владеть одним из языков программирования...',
 'publish_date': '23 сентября',
 'salary_max': None,
 'salary_min': 300000.0,
 'site': 'hh.ru',
 'tasks_shrt': 'Обеспечивать непрерывную и корректную работу кластеров Hadoop. '
               'Договариваться с сотрудниками службы эксплуатации и с '
               'разработчиками из технического департамента, помогать им...',
 'vacancy_link': 'https://hh.ru/vacancy/33575266?query=Data%20scientist',
 'vacancy_name': 'Lead devops engineer (Hadoop)'}
{'_id': ObjectId('5d8a02ba2e73b8eefa63df29'),
 'city': 'Москва ',
 'firm_name': 'АО Citibank',
 'metro_station': 'Калужская',
 'prereq_shrt': 'Sound knowledge of SQL. General programming skills, base data '
                'structures and algorithms. Experience with XGboost would be a '
                'plus. ',
 'publish_date': '5 сентября',
 'salary_max': None,
 'salary_min': 300000.0,
 'site': 'hh.ru',
 'tasks_shrt': 'Own Data Science and cross-functional projects and '
               'initiatives. Data mining and deep-dive analytics to find and '
               'utilize opportunities...',
 'vacancy_link': 'https://hh.ru/vacancy/33428205?query=Data%20scientist',
 'vacancy_name': 'Lead Data Scientist'}